body {
  text-align: center;
  background-image: url("images/download.jpg");
  font-weight: bold;
  padding: 150px;
}
h1 {
  color: white;
  letter-spacing: 2px;
  font-size: 70px;
}
h3 {
  color: white;
  font-size: 24px;
}
p {
  color: white;
  font-size: 24px;
}
.btn{
margin: 1rem;
padding: 0.5rem;
text-align: center;
font-weight: bold;
font-size: 20px;
}
.button {
  background-color: transparent;
  border-color: white;
  color: white;
}
.buttonone {

}
